<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="/assets/img/logo.jpg" />

      <span>Bônus Lanche Bull</span>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-header>
    <ion-tooblar>
      <ion-title><strong><br /><br/>Login</strong></ion-title>
      <span><br/><br />Entre com seus dados corretamente para acessar o sistema.<br/></span>
    </ion-tooblar>
  </ion-header>

  <div>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button size="large" href="http://localhost:8100/home">ENTRAR</ion-button>
  </div>
</ion-content>
